<% @title="Home - Sabat Travel Umroh Terpercaya" %>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<div id="preloader">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
  <%= render :partial => "shared/topnav" %>
</header><!-- End Header -->

  <%= render :partial => "shared/slider" %>

<main>

  <!-- begin container -->
   <%= render :partial => "shared/topcontent" %>
  <!-- End container -->

  <!-- section feature-->
   <%= render :partial => "shared/sectionfeature" %>
  <!-- end section-->

  <!-- section promo -->

  <!-- End section -->

  <!-- section benefit-->
  <%= render :partial => "shared/sectionbenefit" %>
  <!-- End section -->


</main>
<!-- End main -->

<!-- section footer-->
  <%= render :partial => "shared/footer" %>
<!-- end footer-->

<div id="toTop"></div><!-- Back to top button -->

<!-- Search Menu -->
<div class="search-overlay-menu">
  <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
  <form role="search" id="searchform" method="get">
    <input value="" name="q" type="search" placeholder="Search..." />
    <button type="submit"><i class="icon_set_1_icon-78"></i>
    </button>
  </form>
</div><!-- End Search Menu -->

<!-- Common scripts -->
<script src="/assets/js/jquery-2.2.4.min.js"></script>
<script src="/assets/js/common_scripts_min.js"></script>
<script src="/assets/js/functions.js"></script>
